a:not(.disabled).btn, button:not(.disabled).btn {
  color: white;
}
a:not(.disabled).btn:hover, button:not(.disabled).btn:hover {
  box-shadow: 2px 2px 10px black;
}
a:not(.disabled).btn--valid, button:not(.disabled).btn--valid {
  background: #091f43;
}
a:not(.disabled).btn--valid:hover, button:not(.disabled).btn--valid:hover {
  background: #103877;
  color: white;
}
a:not(.disabled).btn--cancel, button:not(.disabled).btn--cancel {
  background: #7e252b;
}
a:not(.disabled).btn--cancel:hover, button:not(.disabled).btn--cancel:hover {
  background: #993f45;
  color: white;
}
a:disabled, button:disabled {
  cursor: none;
}
a.btn--action, button.btn--action {
  background-color: #091f43;
  opacity: 0.85;
  color: white;
  padding: 5px 15px;
  border-radius: 2rem;
}
a.btn--action:hover, button.btn--action:hover {
  border: 1px solid #d1515a;
  box-shadow: 2px 2px 2px #d1515a;
}

.header-nav {
  background-image: url("../../images/paris-defense.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.error {
  display: block;
  font-size: 1em;
  margin: 10px 0;
  color: #d1515a;
}

h2:not(.space-member__pub) {
  border-bottom: 6px solid #d1515a;
  padding-bottom: 15px;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.space-member,
.space-admin,
.forum {
  min-height: 500px;
  background-color: white;
  position: relative;
  color: #091f43;
  padding: 20px;
  z-index: 1;
}
.space-member::before,
.space-admin::before,
.forum::before {
  z-index: -1;
  position: absolute;
  opacity: 0.15;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../images/arc-triomphe.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.form-style input, .form-style select {
  border: 1px solid #091f43;
}
.form-style input:hover, .form-style input:focus, .form-style select:hover, .form-style select:focus {
  border: 2px solid #091f43;
}
.form-style legend {
  background-color: #091f43;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 1em;
  max-width: 160px;
  border-radius: 1rem;
}
.form-style fieldset {
  padding: 10px 10px 10px 20px;
  border: 1px solid #091f43;
  border-radius: 5px;
  margin-bottom: 15px;
}
.form-style__buttons {
  margin-top: 30px;
}
.form-style__buttons--left {
  text-align: left;
}
.form-style__buttons--center {
  text-align: center;
}

.header {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-bottom: 4px solid white;
  position: relative;
}
.header img {
  width: 25%;
  z-index: 1;
}
.header::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #091f43;
  opacity: 0.7;
}
.header h1 {
  font-size: 1.8em;
  z-index: 1;
}
.header div:not(.header-nav) {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  z-index: 1;
}

.footer {
  height: auto;
  color: white;
  border-top: 4px solid white;
  background-image: url("../../images/autoroute.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.footer::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #091f43;
  opacity: 0.85;
}
.footer--title {
  font-size: 1.5em;
  font-weight: bold;
}
.footer > div {
  padding: 50px 20px;
  z-index: 1;
}
.footer__OC-logo {
  text-align: center;
}
.footer__OC-logo img {
  width: 50%;
  max-width: 200px;
}
.footer__Groupomania {
  text-align: center;
}
.footer__Groupomania img {
  width: 40%;
  margin-bottom: 20px;
}
.footer__projet ul > li:nth-child(even) {
  list-style-type: none;
  padding-left: 50px;
}
.footer__projet ul > li:nth-child(odd) {
  list-style-image: url("../../images/favicon-point.png");
  font-weight: bold;
}

.menu {
  font-size: 1.5em;
  padding: 5px 20px;
  border-bottom: 4px solid white;
  position: relative;
  z-index: 1;
  font-weight: bold;
}
.menu::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d1515a;
  opacity: 0.85;
  z-index: -1;
}
.menu a.nav-link i {
  color: white;
  text-shadow: 2px 2px 2px #091f43;
  padding-left: 20px;
}

.signin {
  justify-content: center;
  background-image: url("../../images/background_signin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.signin p > a {
  color: #091f43;
}
.signin > div {
  margin-top: 100px;
}
.signin__logo {
  border: 2px solid black;
  box-shadow: 2px 2px 20px black;
  border-bottom: none;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(9, 31, 67, 0.808);
}
.signin__logo img {
  width: 60%;
}
.signin__form {
  border: 2px solid black;
  box-shadow: 2px 2px 20px black;
  border-top: none;
  background-color: rgba(255, 255, 255, 0.856);
  color: #091f43;
  padding: 20px;
}
.signin__form h1 {
  border-bottom: 4px solid #d1515a;
  font-size: 2em;
  padding: 10px 0;
  margin-bottom: 20px;
}

.forum__search {
  min-width: 250px;
}

.space-member > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 6px solid #d1515a;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.space-member > div h2 {
  font-size: 1.5em;
}

.create {
  padding: 20px;
  min-height: 500px;
  background-color: white;
  position: relative;
  color: #091f43;
  padding: 20px;
  z-index: 1;
}
.create::before {
  z-index: -1;
  position: absolute;
  opacity: 0.15;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../images/arc-triomphe.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.create form {
  width: 50%;
  margin: auto;
}

.space-admin__users, .space-admin__contents {
  margin-bottom: 30px;
  display: block;
}
.space-admin__users h3, .space-admin__contents h3 {
  font-size: 1.3em;
  border-bottom: 3px solid #d1515a;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.space-admin__users h4, .space-admin__contents h4 {
  font-size: 1.15em;
}
.space-admin__users section[class*=col-lg], .space-admin__contents section[class*=col-lg] {
  min-height: 200px;
}
.space-admin__users section[class*=col-lg]:nth-child(n+2), .space-admin__contents section[class*=col-lg]:nth-child(n+2) {
  border-right: 3px solid #d1515a;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
  text-decoration: none;
  font-style: italic;
}

/*# sourceMappingURL=styles.css.map */
