{% extends 'base.html.twig' %}

{% block title %}Groupomania - Authentification au réseau social{% endblock %}

{% block body %}
    <main class="signin row form-style">
        <div class="col-10 col-sm-6 col-md-6 col-lg-4">
            <header class="signin__logo">
                <img src="{{ asset('images/icon-left-font-white.png') }}">
            </header>
            <section class="signin__form">
                <h1>Connexion au réseau social</h1>
                <form action="{{ path('security_login') }}" method="post" class="form-style">
                    {% if error %}
                        <span class="error"><i class="fas fa-times"></i> Les identifiants indiqués sont incorrects !</span>
                    {% endif %}
                    <div class="form-group">
                        <label for="login" method="POST">Pseudo</label>
                        <input placeholder="Votre nom d'utilisateur..." type="text" class="form-control" required name="_username" value=" {{ lastUserName }}">
                    </div>
                    <div class="form-group">
                        <label for="mdp">Mot de passe</label>
                        <input placeholder="Votre mot de passe..." type="password" class="form-control" required name="_password">
                    </div>
                    <p></p>
                    <p><a href="{{ path('security_registration') }}">Vous n'avez pas de compte?</p>
                    <div class="form-style__buttons buttons--left">
                        <button type="submit" class="btn btn--valid">Se connecter</button>
                    </div>
                </form>
            </section> 
        </div>
    </main> 
{% endblock %}
