<footer class="footer row">
    <div class="footer__OC-logo col-lg-2">
        <p class="footer--title">Le partenaire</p>
        <img src="{{ asset('images/logo_oc.png') }}" alt="logo l'entreprise partenaire Openclassrooms">
    </div>
    <div class="footer__Groupomania col-lg-7">
        <img src="{{ asset('images/icon-left-font-white.png') }}" alt="logo et nom de l'entreprise">
        <p class="footer__Groupomania footer--title">Le réseau social inter-services de l'entreprise Groupomania</p>
        <p>Notre entreprise, spécialisée dans la grande distribution, est en pleine expansion. Nous avons actuellement plus de 600 collaborateurs et avons beaucoup recruté depuis quelques années. Nous étions uniquement 300 il y a 3 ans.</p>
    </div>
    <div class="footer__projet col-lg-3">
        <p>Cet outil a été créé dans le cadre du <strong>projet 7</strong> du parcours de formation <strong>développeur web junior</strong>.</p>
        <ul>
            <li>Nom du projet</li>
            <li>Créer un réseau social d'entreprise</li>
            <li>Autheur</li>
            <li>Jonathan LAUBRON</li>
            <li>Temps du projet</li>
            <li>1 mois</li>
        </ul>
    </div>
</header>