<header class="header">
    <img src="images/icon-left-font-white.png" alt="logo et nom de l'entreprise">
    <h1>Le réseau social inter-services Groupomania</h1>
    <div>
        <p>Bonjour {{ app.user.username }}</p>
        <a href="{{ path('security_logout') }}">Déconnexion <i class="fa fa-sign-out"></i></a>
    </div>
</header>