<nav class="navbar navbar-expand-lg navbar-light menu">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('groupomania_home') }}" aria-label="Accéder au forum"><i class="fas fa-users"> Le forum</i><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('groupomania_spaceMember') }}" aria-label="Espace personnel"><i class="fas fa-user-lock"> Espace membre</i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('groupomania_admin') }}" aria-label="Administration du site"><i class="fas fa-tools"> Administration</i></a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="{{ path('groupomania_infosManagerDisplay') }}" aria-label="Notes administratives"><i class="fas fa-clipboard"> Notes administratives</i></a>
            </li>
        </ul>
    </div>
</nav>