$text-colors: white, rgb(9,31,67), rgb(209,81,90),#016301;
$background-colors: white, rgb(9,31,67),rgb(209,81,90);
$border-colors: white, rgb(209,81,90), rgb(9,31,67);
$border-input-colors: rgb(9,31,67), rgb(209,81,90);
$button-bkg-valid: rgb(9,31,67), rgb(16, 56, 119);
$button-bkg-cancel: rgb(126, 37, 43), rgb(153, 63, 69);
$button-bkg-other: rgb(1, 75, 1), rgb(1, 99, 1);
$background-message: rgb(94, 175, 94), rgba(187, 5, 5, 0.80);

