$text-colors: white, rgb(9,31,67), rgb(209,81,90),rgb(1, 99, 1);
$background-colors: white, rgb(9,31,67),rgb(209,81,90);
$border-colors: white, rgb(209,81,90), rgb(9,31,67);
$border-input-colors: rgb(9,31,67), rgb(209,81,90);
$button-bkg-valid: rgb(9,31,67), rgb(16, 56, 119);
$button-bkg-cancel: rgb(126, 37, 43), rgb(153, 63, 69);

