 <h3>Commentaires pour ce contenu ({{ allComments | length }})</h3>
{% if allComments | length == 0 %}
    <i class='fas fa-times errorRole'> Ce contenu n'a pas encore été commenté pour le moment.</i>
{% else %}
    <div class="view__comments" id="viewComments">
        {% for comment in allComments %}
            <div class="view__comments-head">
                <span>{{ "N°"~loop.index }}</span>
                <span>Posté par {{ comment.author ~" le "~ comment.createdAt | date("d/m/Y à h:m:s") }}</span>
            </div>
            <div class="view__comments-mess">
                {{ comment.message | raw }}
            </div>
        {% endfor %}
    </div>
    <div id="messageServerComment">
    </div>
{% endif %}