body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    min-width: 360px;
}

.row {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
}

a {
    text-decoration: none;
    &:hover, &:focus {
        text-decoration: none;
    }
}

span.form-error-message, span.form-error-icon {
    font-size: 1.2em;
}

span.form-error-message {
    margin-left: 10px;
}

