a, button {
    &:not(.disabled).btn {
        color: nth($text-colors,1);
        &:hover {
            box-shadow: 2px 2px 10px black;
        }
        &--valid {
            background: nth($button-bkg-valid,1);
            &:hover {
                background: nth($button-bkg-valid,2);
                color: nth($text-colors,1);
            }
        }
        &--cancel {
            background: nth($button-bkg-cancel,1);
            &:hover {
                background: nth($button-bkg-cancel,2);
                color: nth($text-colors,1);
            }
        }
    }
    &:disabled {
        cursor: none;
    }
}