{% extends 'base.html.twig' %}

{% block title %}Groupomania - Espace membre{% endblock %}

{% block body %}
    <div class="header-nav">
        {{ include("partials/header.html.twig") }}
        {{ include("partials/navbar.html.twig") }}
    </div>
    <main class="space-infos">
        <h2>Notes administratives</h2>
        <p>Cette page est dédié aux explications relevant de l'administration et la gestion du site. Toutes les fonctionnalités de gestion utilisateurs et contenus seront présentées.</p>
        
        <section>
            <h3>La gestion des utilisateurs</h3>
            <p>Cette application permet à un ensemble d'utilisateurs de faciliter les échanges entre-eux et améliorer leurs conditions de travail. De nombreuses informations véhiculeront au travers ce réseau social inter-service. Quelle que soit leur
            nature (musique, vidéos, images ou textes), si elles ne sont pas contrôlées, l'utilisation de l'application pourrait probablement être néfaste au sein d'une entreprise et d'alimenter dans certaines circonstances des tensions entre collaborateurs.<br/>
            Il est donc indispensable de mettre en place certaines protections afin de garantir une condition d'utilisation sereine et de profiter pleinement de ses bénéfices.
                    
            <h4>La suppression des utilisateurs</h4>
            <p>Si toutefois, un utilisateur serait malintentionné, il est possible de procéder à la suppression du compte qui lui ait associé afin qu'il ne diffuse plus aucun contenu.<br/>
            Pour supprimer un utilisateur, il faut:</p>
            <ul>
                <li>Disposer des droits administrateur afin d'accéder aux pages d'administration et de gestion</li>
                <li>Un utilisateur ne peut pas supprimer son propre compte utilisateur. En cours d'utilisation, les comptes ne pourront ni être supprimés ni être modifiés par tous utilisateurs, y compris les administrateurs.</li>
            </ul>
            <p>Un compte générique administrateur a été créé afin de permettre à tout administrateur de gérer ses propres comptes. Pour éviter qu'il ne l'utilise en permanence, les droits d'accès spécifiques qui lui sont attribués ne l'autorisera pas à utiliser l'application 
            car seule la page de gestion sera accessible.</p>

            <h4>Les droits d'accès</h4>
            <p>La suppression d'un compte est le pire scénario que peut rencontrer un utilisateur puisqu'il sera banni des membres. En revanche, il est tout à fait possible de restraindre les droits d'accès d'un utilisateur.<br/>
            Pour modifier les droits d'un compte désigné, il faut:</p>
            <ul>
                <li>Disposer des droits d'administrateur de manière à accéder à la page de gestion</li>
                <li>Encore une fois, un compte utilisateur en cours d'utilisation ne peut pas être modifié.</li>
            </ul>
            <p>Voici les droits d'utilisation définis:</p>
            <ul>
                <li><strong>Le droit d'utilisation normale</strong><br/> Il s'agit du droit accordé à tout utilisateur s'inscrivant sur le site. Il pourra avec ce type de compte profiter de toutes les fonctionnalités de l'application à l'exeption
                de toutes configurations ou réglages. Les pages d'administration ne seront pas accessibles.</li>
                <li><strong>Le droit d'administration et d'utilisation normale</strong><br/> L'utilisateur disposera du status d'administrateur. Il gérera les comptes utilisateurs, les contenus via les pages d'administration et utilisera comme tout autre utilisateur standard l'application.</li>
                <li><strong>Aucun droit sur le compte</strong><br/> En cas d'enquête, de diffusion illicite, ou non respect des conditions d'utilisation, l'utilisateur ne pourra plus se connecter à l'application puisque que les droits de son compte ont été totalment supprimés. Il faudra alors attendre qu'un administrateur redéfinisse les droits pour que l'utilisateur puisse se reconnecter à nouveau.</li>
            </ul>
        </section>   
        <section>
            <h3>La gestion des contenus</h3>
            <p>Tout réseau social d'entreprise est réglementé. Ainsi, l'ensemble des utilisateurs devront suivre à la lettre les règles en vigeur de manière à garantir un contenu sain et de bonne qualité pour tous les usagers. Comme mentionné dans les premiers paragraphes de cette section,
            il existe déjà quelques fonctionalités pour palier aux problèmes de conformité. Pour un usage plus bénéfique et optimal au sein de l'entreprise, les utilisateurs bénéficiant de compte administrateur prendront en charge le contrôle de chaque contenu et analyseront le contenu nouvellement enregistré. Ces utilisateurs spécifiques
            décideront si oui ou non le contenu sera visible par tous.</p>

            <h4>La suppression des contenus</h4>
            <p>Le risque 0 n'existe pas! Les contenus diffusés (vidéos, musiques, images et textes) sont succeptibles d'abriter un jour des contenus considérés comme non conforme dans le milieu professionnel (vie privée, caractère promographique, etc..). Pour limiter le trafic et éviter que ces données soient vues, la suppression peut être envisagée.<br/>
            Pour supprimer un contenu, il faut disposer des droits administrateur afin d'accéder aux pages d'administration et de gestion. Bien que chaque utilisateur ait la possibilité de supprimer ces propres données, l'administrateur, quant à lui, dispose de droits spécifiques pour supprimer tous contenus présents sur le site, et ceux quel que ce soit le propriétaire.</p>
        
            <h4>Le statut des contenus</h4>
            <p>Un contenu vit et évoluera très certainement au grès de l'inspiration du diffuseur. Malheureusement, il n'existe aucun moyen de nos jours à empêcher qui que ce soit d'intégrer du contenu non conforme au fil de l'eau. C'est précisement dans ce contexte que l'un rôles majeurs des statuts rentrent en jeu.<br/>
            Ils sont précisement au nombre de 4 et sont visibles sur chaque miniature de contenu ainsi que sur la page de consultation correspondante. Voici la liste des statuts disponibles:</p>
            <ul>
                <li>Statut 1: <strong>En attente de vérifications</strong></li>
                <li>Statut 2: <strong>Vérifié</strong></li>
                <li>Statut 3: <strong>Suspendu</strong></li>
                <li>Statut 4: <strong>Bloqué</strong></li>
            </ul>
            <p><strong>En attente de vérifications: </strong>Un contenu fraîchement enregistré n'apparaîtra pas sur la page du forum et sera donc non visible pour tous. En effet, son statut l'oblige à se soumettre aux contrôleurs que sont les administrateurs. Depuis la page d'administration, ils pourront identifier très rapidemment tous les contenus dont leur status est marqué d'un <i class="fas fa-times-circle"></i> dans la liste des contenus. Après sélection dans cette dernière, 
            un tableau s'affichera sur le côté droit et indiquant toutes les informations nécessaires pour contacter si besoin l'utilisateur. De plus, en quelques clics, l'administrateur sera en mesure de consulter la page du contenu puis, en fonction de son expertise, jugera de sont sort grâce au changement de statut.<br/>
            A l'issue d'une opération réussie, le statut devrait être le statut "Vérifié" marqué d'un symbole <i class="fas fa-check-square"></i>.<br/>
            Par ailleurs, la modification d'un contenu entraînera systématiquement le changement du status actuel au statut "En attente de vérifications" pour de nouveaux contrôles par les administrateurs et ceux, jusqu'à sa supression.</p>
            <p><strong>Vérifié: </strong>Le status "Vérifié" <i class="fas fa-check-square"></i> est l'état du contenu que l'on devrait trouvé en permanence. Il signifie que celui est conforme aux réglementations en vigueur et qu'il sera visible par tous les utilisateurs. Attention tout de même à éviter tout ambiguité puisqu'à tout moment, un administrateur peut modifier son statut et même éliminer tout contenu douteux dans le pire des cas.</p>
            <p><strong>Suspendu: </strong>Sans compter la suppression définitive d'un contenu qui est la pire sentence que décider un administrateur, la suspension d'un contenu, marqué par le symbole <i class="fas fa-minus-square"></i> engendre sa disparition sur le forum. Les utilisateurs igorons son existence sur le forum mais le propriétaire le verra dans son espace membre, où il pourra le modifier et espérer son changeement de statut par les contrôleurs. Ce statut servira à marquer un 
            contenu comme nuisible qu'il faudra mettre à l'écart des utilisateurs pour stopper immédiatement la diffusion des données.</p>
            <p><strong>Bloqué: </strong> Ce statut <i class="fas fa-ban"></i> est un peu similaire au statut précédent. Il permet lui aussi d'identifier les contenus néfastes mais les utilisateurs remarqueront sa présence sur le forum contrairement au statut "Suspendu". Son existence sera ainsi dévoilé sur le site malgré cette non conformité. Les accès pour accéder à ces contenu seront désactivés et il ne sera par conséquent pas consultable. Comme pour tous les autres statuts, l'espace membre de l'utilisateur permettra d'afficher tous
            les contenus y compris les éléments bloqués et suspendus afin qu'ils puissent être modifiés à tout momment par le propriétaire.</p>

            <p><strong>Soyez particulièrement vigilants à ce que vous enregistrez</strong> car rien n'empêche les administrateurs à sanctionner systématiquement ou plus sévèrement les utilisateurs de mauvaises réputations et de supprimer leur compte définitivement. Cette dernière provoquera la disparition de la totalité de vos données que ce soient vos commentaires, vos likes sans oublier vos contenus sur tou le site.</p>
        </section>

    </main> 
    {{ include("partials/footer.html.twig") }}
{% endblock %}