{% extends 'base.html.twig' %}

{% block title %}Groupomania - Espace membre{% endblock %}

{% block body %}
    <div class="header-nav">
        {{ include("partials/header.html.twig") }}
        {{ include("partials/navbar.html.twig") }}
    </div>
    <main class="space-member">
        <div>
            <h2 class="space-member__pub">Mes publications</h2>
            <a href="{{ path('content_create') }}" class="btn--action">Créer un nouveau contenu</a>
        </div> 
        <p>Vous trouverez dans cet espace membre, l'ensemble des publications à votre nom actuellement en ligne sur le réseau social Groupomania.</p>
    </main> 
    {{ include("partials/footer.html.twig") }}
{% endblock %}